{:paths ["src"]
 :deps {io.github.Semi-0/lain-infrastructure
        {:git/url "https://github.com/Semi-0/lain-infrastructure.git"
         :git/sha "12112d2bd937dd968f143bcd85f9656ed026ddb3"}
        io.github.Semi-0/lain-compiler
        {:git/url "https://github.com/Semi-0/lain-compiler.git"
         :git/sha "1e288c27e302521c665abf8d38f5eb8310a046c8"}
        meander/epsilon {:mvn/version "0.0.650"}}
 :aliases {:test {:extra-paths ["test" "dev"]
                  :main-opts ["-m" "run-tests"]}
           :bench {:extra-paths ["dev/bench"]}}}
